@model IEnumerable<Website_ShopeeFood.Models.AddressUserModel>
@using Website_ShopeeFood.Models;

@{
    var user = ViewData["InfoUser"] as UsersModel;
}


<div class="col-info-user">
    <div class="info-user-name">Cập nhật địa chỉ</div>
    <div class="table-account">
        <div class="header">
            <div class="row">
                <div class="col col-2">Tên Gợi Nhớ</div>
                <div class="col col-5">Địa Chỉ</div>
                <div class="col col-3">Số Điện Thoại</div>
                <div class="col col-2"></div>
            </div>
        </div>

        <div class="table-account">
            @foreach (var item in Model)
            {
                <div class="table-row">

                    <div class="row">

                        <div class="col col-2">@item.Name</div>
                        <div class="col col-5">@item.Address</div>
                        <div class="col col-3">@item.PhoneNumbers</div>
                        <div class="col col-2 txt-center">
                            <span data-toggle="modal" data-target="#modal-change-address1" class="margin-05 link-buton" onclick="EditItem(@item.ID)">Sửa</span>
                            <span class="margin-05 link-buton" onclick="DeleteItem(@item.ID)">Xóa</span>
                        </div>

                    </div>

                </div>
            }
            <div class="table-row">
                <div class="row"></div>
            </div>
            <div class="table-row">
                <div class="row">
                    <div class="col-2 offset-10">
                        <button data-toggle="modal" data-target="#modal-change-address" class="btn btn-red text-uppercase btn-block">Thêm</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade modal-change-address show" id="modal-change-address1" tabindex="-1" role="dialog" style="display:none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <span class="close" data-dismiss="modal">X</span>
            @using(Html.BeginForm("UpadteAddress", "User", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6 form-group col input-field">
                            <input type="text" class="form-control" placeholder="Nhà" name="name" id="nameAddressUser">
                            <label for="name">
                                Tên gợi nhớ
                                <span class="txt-red font-weight-bold">*</span>
                            </label>
                        </div>
                        <div class="col-6 form-group col input-field">
                            <input type="text" class="form-control" placeholder="Họ Tên" name="nameUser">
                            <label for="name">
                                Họ Tên
                                <span class="txt-red font-weight-bold">*</span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 form-group col input-field">
                            <input type="text" class="form-control" placeholder="Email" name="email">
                            <label for="name">
                                Email
                                <span class="txt-red font-weight-bold">*</span>
                            </label>
                        </div>
                        <div class="col-6 form-group col input-field">
                            <input type="text" class="form-control" placeholder="Số Điện Thoại" name="phoneNumber">
                            <label for="name">
                                Số Điện Thoại
                                <span class="txt-red font-weight-bold">*</span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-group col input-field">
                            <input type="text" class="form-control" placeholder="Địa Chỉ" name="address">
                            <label for="name">
                                Địa Chỉ
                                <span class="txt-red font-weight-bold">*</span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 form-group col input-field">
                            <select class="custom-select" name="areas">
                                <option>TP.HCM</option>
                                <option>Hà Nội</option>
                            </select>
                        </div>
                        <div class="col-6 form-group col input-field">
                            <select class="custom-select" name="detailAreas">
                                <option>Quận 1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer content-right">
                    <button type="button" class="btn btn-gray text-uppercase" data-dismiss="modal">Đóng</button>
                    <button formmethod="post" type="submit" class="btn btn-red text-uppercase">OK</button>
                </div>
            }
        </div>
    </div>
</div>


<div class="modal fade modal-change-address show" id="modal-change-address" tabindex="-1" role="dialog" style="display:none;">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <span class="close" data-dismiss="modal">X</span>
            @using (Html.BeginForm("InsertUserAddress", "User", FormMethod.Post))
            {
                <div class="modal-body">
                    <div class="row">
                        <div class="col-6 form-group col input-field">
                            <input type="text" class="form-control" placeholder="Nhà" name="name" id="Name">
                            <label for="name">
                                Tên gợi nhớ
                                <span class="txt-red font-weight-bold">*</span>
                            </label>
                        </div>
                        <div class="col-6 form-group col input-field">
                            <input type="text" class="form-control" placeholder="Họ Tên" name="nameUser">
                            <label for="name">
                                Họ Tên
                                <span class="txt-red font-weight-bold">*</span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 form-group col input-field">
                            <input type="text" class="form-control" placeholder="Email" name="Email">
                            <label for="name">
                                Email
                                <span class="txt-red font-weight-bold">*</span>
                            </label>
                        </div>
                        <div class="col-6 form-group col input-field">
                            <input type="text" class="form-control" placeholder="Số Điện Thoại" name="PhoneNumbers">
                            <label for="name">
                                Số Điện Thoại
                                <span class="txt-red font-weight-bold">*</span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 form-group col input-field">
                            <input type="text" class="form-control" placeholder="Địa Chỉ" name="Address">
                            <label for="name">
                                Địa Chỉ
                                <span class="txt-red font-weight-bold">*</span>
                            </label>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6 form-group col input-field">
                            <select class="custom-select" name="areas">
                                <option>TP.HCM</option>
                                <option>Hà Nội</option>
                            </select>
                        </div>
                        <div class="col-6 form-group col input-field">
                            <select class="custom-select" name="detailAreas">
                                <option>Quận 1</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="modal-footer content-right">
                    <button type="button" class="btn btn-gray text-uppercase" data-dismiss="modal">Đóng</button>
                    <button formmethod="post" type="submit" class="btn btn-red text-uppercase">OK</button>
                </div>
            }
        </div>
    </div>
</div>


<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.1.min.js" integrity="sha256-o88AwQnZB+VDvE9tvIXrMQaPlFFSUTR+nldQm1LuPXQ=" crossorigin="anonymous"></script>


<script>
    function EditItem(id) {
        $.ajax({
            url: "/User/EditUserAddress/" + id,
            type: "GET",
            dataType: "json",
            success: function (response) {
                //$("#nameAddressUser").val(response.Name);
                alert(response.html);
            }
        });
        return false;
    }

    function DeleteItem(id) {
        $.ajax({
            url: "/User/DeleteUserAddress/" + id,
            type: "POST",
            dataType: "json",
            success: function (response) {
            }
        });
        return false;
    }
</script>