@model IEnumerable<Website_ShopeeFood.Models.InvoicesModel>

@{
    ViewData["Title"] = "ListInvoices";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="/css/Invoices.css">

<div class="invoice-details">
    <p>Thông Tin Lịch Sử Đơn Hàng</p>
</div>


<div class="invoices-area">
    <table class="table">
        <thead>
            <tr>
                <th>
                    Mã Hóa Đơn
                </th>
                <th>
                    Ngày Giao Hàng
                </th>
                <th>
                    Tổng Cộng
                </th>
                <th>
                    Trạng Thái
                </th>
                <th>
                    Chi Tiết
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.InvoicesID)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.DeliveryDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.TotalPrices)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Details)
                    </td>
                    <td>
                        <button class="btn btn-detail" asp-action="" asp-controller="Invoices">Chi Tiết</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
